body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;
  background: url("https://unsplash.it/1920/1080/?blur");
  overflow: hidden;
}

.pt-alert-contents {
  width: 100%;
}

.react-resizable {
  position: relative;
}

.explorer-dropzone {
  width: 100%;
  height: 100%;
}

.explorer-nonideal-state {
  margin-top: 100px !important;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

.without-overflow {
  overflow:hidden;
}
.with-overflow {
  overflow: auto !important;
  overflow-x: hidden !important;
  height: 100% !important;
}

.center-menu {
  width: 700px;
  margin: 0 auto;
}

.full-width {
  width: 100% !important;
}

.grid-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.grid-card {
  width: 192px;
  padding: 5px !important;
  padding-bottom: 0 !important;
  margin: 10px;  /* Magic! */
  align-self: flex-start;
}

.grid-card img {
  width: 100%;
}

.notif-badge {
   position:relative;
}

.notif-badge[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-5px;
   right:-8px;
   font-size:.7em;
   background:red;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

.pt-tree-node-label {
  text-align: left !important;
}

.phone-status-widget {
    width: 400px;
    height: 300px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    right: 25px;
    top: 100px;
    display: block;
}

.phone-image {
    position: absolute;
    pointer-events: none;
    left: -80px
}

.phone-details {
  position: relative;
  left: 100px;
}

.phone-details table {
  width: 270px !important;
}

.pt-dialog-window * {
  cursor: default !important;
}

.pt-dialog-window {
  height: 100% !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  transform: none;
  position: relative;
  opacity: 0;
}

.pt-dialog-body {
  margin: 10px !important;
}

.pt-dialog-footer-actions .status {
    position: absolute !important;
    left: 15px !important;
    line-height: 30px;
}

.explorer.card.filename {
  padding-top: 10px;
  word-break: break-all;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.explorer-icon {
  font-size: 48pt !important;
}

.explorer-breadcrumbs  {
  margin-left: 25px;
}

@import "../node_modules/basscss/css/basscss";
.react-selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  height: 100%;
  
}
.react-selection-rectangle {
  pointer-events: none;
  transition: opacity 0.4s;
  position: absolute;
  background-color: rgba(204,204,204,0.2);
  border: 1px solid #ccc;
}

.target {
  border: 1px solid transparent;
}

.react-selection-selected {
  border: 1px solid #48aff0;
}

.lightbox .pt-overlay-content {
  z-index: 21;
  position: fixed;
  left: calc(50% - 30%);
  top: 100px;
  width: 60%;
  margin-bottom: 100px;
}

.lightbox-image {
  width: 100%;
}

.swing-transition.pt-overlay-enter, .swing-transition.pt-overlay-appear {
    -webkit-transform: translateY(-50vh) rotate(-10deg);
            transform: translateY(-50vh) rotate(-10deg); 
}

.swing-transition.pt-overlay-enter-active, .swing-transition.pt-overlay-appear-active {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.54, 1.12, 0.38, 1.11);
    transition-delay: 0;
}

.swing-transition.pt-overlay-leave {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg); 
}

.swing-transition.pt-overlay-leave-active {
    -webkit-transform: translateY(150vh) rotate(-20deg);
            transform: translateY(150vh) rotate(-20deg);
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
    transition-delay: 0; 
  }

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.0;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}


