<app-modal #modalRoot
           [modalTitle]="'Demo modal'"
           [width]="500"
           [minWidth]="500"
           [minHeight]="200"
           [maximizable]="true"
           [visible]="true">
  <ng-container class="app-modal-toolbar">
    <p-menubar [model]="menuItems">
    </p-menubar>
  </ng-container>
  <ng-container class="app-modal-body">
    <router-outlet></router-outlet>
  </ng-container>
  <ng-container class="app-modal-footer">
    <button type="button" class="button button3">Delete</button>&nbsp;
    <button type="button" class="button button1">Save</button>
    <button type="button" class="button button2" style="float: right;" [routerLink]="[{outlets: { explorer: null }}]">Close</button>
  </ng-container>
</app-modal>
