<div style="width: 180px;" class="card text-center">
  <div class="card-block">
    <div *ngIf="model.loading" class="ph-item">
      <div class="ph-col-12">
        <div style="height: 85px; padding: 0;" class="ph-picture"></div>
        <div class="ph-row">
          <div class="ph-col-12"></div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!model.loading">
      <div *ngIf="model.isImage" pDefer (onLoad)="initDeferred()">
        <ng-template>
          <img class="card-img-top" [src]="url" alt="Card image cap">
        </ng-template>
      </div>

      <h2><i *ngIf="model.isDirectory" class="fa fa-folder-open fa-2x"></i></h2>
      <h2><i *ngIf="model.isFile && !model.isImage" class="far fa-file fa-2x"></i></h2>
      <span class="card-title">{{model.name}}</span>
    </ng-container>
  </div>
  <nav class=" .modifier">
    <div class="pt-navbar-group pt-align-left"><span class="pt-popover-target"><a target="_blank"
                                                                                  href="rest/filesystem/serve/?path=Ringtones"
                                                                                  class="pt-button pt-minimal pt-icon-download pt-tether-target pt-tether-element-attached-middle pt-tether-element-attached-left pt-tether-target-attached-middle pt-tether-target-attached-right"
                                                                                  tabindex="0"></a>
      <!-- react-empty: 1209 --></span></div>
    <div class="pt-navbar-group pt-align-right"><span class="pt-popover-target"><button
      class="pt-button pt-minimal pt-icon-trash" tabindex="0"></button><!-- react-empty: 779 --></span></div>
  </nav>
</div>
