@import "~bootstrap/scss/bootstrap";
@import "./app/theme/variables.scss";

@import "~placeholder-loading/src/scss/placeholder-loading.scss";


html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  color: $text-color;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.ui-breadcrumb-chevron:nth-child(2),
.ui-breadcrumb-chevron:nth-child(4),
.ui-breadcrumb-chevron:nth-child(6),
.ui-breadcrumb-chevron:nth-child(8)
{
  border: 1px solid red !important;
  display: none;
}

.ui-breadcrumb-chevron:nth-child(10) {
  margin-left: -8px !important;
  //border: 1px solid green !important;
}

.ph-item {
  border: none !important;
  padding: 10px !important;
  margin: 0 !important;
  background: transparent !important;
}

.ui-menuitem-link .fas, .ui-menuitem-link .pi {
  padding: 7px;
  margin-left: -10px;
  transition: 0.4s;
}

.ui-menuitem-link .fas:hover:not(.fa-spin), .ui-menuitem-link .pi:hover {
  background: $window-background !important;
}

.ui-breadcrumb {
  height: $toolbar-height !important;
  line-height: ($toolbar-height / 2 + 5px) !important;
  border: none !important;
  background: transparent !important;
}

.intent-primary {
  color: $text-intent-primary;
}

.intent-danger {
  color: $text-intent-danger;
}

.intent-default {
  color: $primary-intent-color;
}
